#location{
    position: absolute;
    right: 1%;
    top: 10%;
    width: 2.5rem;
    height: 2.5rem;
    border: none;
    border-radius: 50%;
    color: #fff;
    background-color: #43c6ee;
    &:hover{
        cursor: pointer;
        background-color: #349EBF;
    }
}